<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
        <p><b>Olá {{name}}</b></p>
        <p>Estás a receber esta mensagem porque subscreveste as notificações do ENTA#CPROB - Clube de Programação e Robótica</p>
        <p>{{title}}</p>
        <p>{{summary}}</p>
        <p>{{text}}</p>
        <p>A coordenação do Clube</p>
</body>
</html>